<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/router/update/{{routerDetails.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">SAP Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="sapid" id="id_sapid" required maxlength="18" value="{{ routerDetails.sapid }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hostname:</label>  
    <div class="col-sm-4">  
        <input type="text" name="hostname" id="id_hostname" required maxlength="14" value="{{ routerDetails.hostname }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Loopback:</label>  
    <div class="col-sm-4">  
        <input type="text" name="loopback" id="id_loopback" required maxlength="15" value="{{ routerDetails.loopback }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Mac Address:</label>  
    <div class="col-sm-4">  
        <input type="text" name="mac_address" id="id_mac_address" required maxlength="17" value="{{ routerDetails.mac_address }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>